<div class="p-5 mb-5 bg-light rounded-3">
  <div class="row g-3">
    <div class="col-md-12 col-lg-8 form-group">
      <input type="text" id="movie-title" name="movie-title" class="form-control" placeholder="Movie title" [(ngModel)]="movieTitle" />
    </div>
    <div class="col-md-6 col-lg-2 form-group">
      <button type="button" class="btn btn-primary w-100" (click)="onSearchClick()">Search</button>
    </div>
    <div class="col-md-6 col-lg-2">
      <button type="button" class="btn btn-secondary w-100" (click)="onResetClick()">Reset</button>
    </div>
  </div>
</div>

<app-movie-card [movie]="movie" *ngIf="showMovie"></app-movie-card>


<div class="alert alert-danger" role="alert" *ngIf="showErrorAlert">
  {{movie.Error}}
</div>
